html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px; /* 프로젝트에서 사용하는 기본 폰트 사이즈로 수정 */
    font: inherit;
    box-sizing: border-box;
    /* font-family: pretendard, Dotum, '돋움', Gulim, '굴림', Arial, Helveticasans-serif; */
}

body, input, select, textarea{
    font-family: pretendard;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button, input, select, textarea {
    vertical-align:middle;
    font-size:100%;
}
button {
    border:0;
    background-color:transparent;
    cursor:pointer;
}
address, em {
    font-style:normal;
}
fieldset, img {
    border:0
}
img, picture, video, canvas, svg {
    display: block;
    max-width:100%;
}
a {
    color:inherit;
    text-decoration:none;
}
:root {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-text-size-adjust:100%;
    text-size-adjust:100%;
    cursor:default;
    overflow-wrap:break-word;
    word-break:keep-all;
}
*{
    box-sizing: border-box;
}

@font-face{
    font-family: var(--ref-typo-font-family-pretendard);
    src:url(../../fonts/PretendardGOV-Regular.subset.woff) format('woff');
    src:url(../../fonts/PretendardGOV-Regular.subset.woff2) format('woff2');
    font-weight: var(--ref-typo-font-weight-regular);
}
@font-face{
    font-family: var(--ref-typo-font-family-pretendard);
    src:url(../../fonts/PretendardGOV-Medium.subset.woff) format('woff');
    src:url(../../fonts/PretendardGOV-Medium.subset.woff2) format('woff2');
    font-weight: var(--ref-typo-font-weight-medium);
}
@font-face{
    font-family: var(--ref-typo-font-family-pretendard);
    src:url(../../fonts/PretendardGOV-Bold.subset.woff) format('woff');
    src:url(../../fonts/PretendardGOV-Bold.subset.woff2) format('woff2');
    font-weight: var(--ref-typo-font-weight-bold);
}