:root {
    --ref-color-common-0: #ffffff;
    --ref-color-common-100: #000000;
    --ref-color-cool_neutral-5: #f8f9fa;
    --ref-color-cool_neutral-10: #f1f3f5;
    --ref-color-cool_neutral-20: #e9ecef;
    --ref-color-cool_neutral-30: #dee2e6;
    --ref-color-cool_neutral-40: #ced4da;
    --ref-color-cool_neutral-50: #adb5bd;
    --ref-color-cool_neutral-60: #868e96;
    --ref-color-cool_neutral-70: #495057;
    --ref-color-cool_neutral-80: #343a40;
    --ref-color-cool_neutral-90: #212529;
    --ref-color-red-5: #fff5f5;
    --ref-color-red-10: #ffe3e3;
    --ref-color-red-20: #ffc9c9;
    --ref-color-red-30: #ffa8a8;
    --ref-color-red-40: #ff8787;
    --ref-color-red-50: #ff6b6b;
    --ref-color-red-60: #fa5252;
    --ref-color-red-70: #f03e3e;
    --ref-color-red-80: #e03131;
    --ref-color-red-90: #c92a2a;
    --ref-color-yellow-5: #fff9db;
    --ref-color-yellow-10: #fff3bf;
    --ref-color-yellow-20: #ffec99;
    --ref-color-yellow-30: #ffe066;
    --ref-color-yellow-40: #ffd43b;
    --ref-color-yellow-50: #fcc419;
    --ref-color-yellow-60: #fab005;
    --ref-color-yellow-70: #f59f00;
    --ref-color-yellow-80: #f08c00;
    --ref-color-yellow-90: #e67700;
    --ref-color-green-5: #ebfbee;
    --ref-color-green-10: #d3f9d8;
    --ref-color-green-20: #b2f2bb;
    --ref-color-green-30: #8ce99a;
    --ref-color-green-40: #69db7c;
    --ref-color-green-50: #51cf66;
    --ref-color-green-60: #40c057;
    --ref-color-green-70: #37b24d;
    --ref-color-green-80: #2f9e44;
    --ref-color-green-90: #2b8a3e;
    --ref-color-blue-5: #e7f5ff;
    --ref-color-blue-10: #d0ebff;
    --ref-color-blue-20: #a5d8ff;
    --ref-color-blue-30: #74c0fc;
    --ref-color-blue-40: #4dabf7;
    --ref-color-blue-50: #339af0;
    --ref-color-blue-60: #228be6;
    --ref-color-blue-70: #1c7ed6;
    --ref-color-blue-80: #1971c2;
    --ref-color-blue-90: #1864ab;
    --ref-color-primary-5: #eee7f9;
    --ref-color-primary-10: #d4c3ef;
    --ref-color-primary-20: #b89be6;
    --ref-color-primary-30: #9b71dc;
    --ref-color-primary-40: #8550d4;
    --ref-color-primary-50: #6e2fcc;
    --ref-color-primary-60: #642ac6;
    --ref-color-primary-70: #5521bd;
    --ref-color-primary-80: #471ab6;
    --ref-color-primary-90: #2d08ab;
    --ref-color-secondary-5: #e8faf2;
    --ref-color-secondary-10: #c7f2df;
    --ref-color-secondary-20: #a2eacb;
    --ref-color-secondary-30: #76e2b6;
    --ref-color-secondary-40: #4edaa4;
    --ref-color-secondary-50: #09d392;
    --ref-color-secondary-60: #00c286;
    --ref-color-secondary-70: #00ae77;
    --ref-color-secondary-80: #009d6a;
    --ref-color-secondary-90: #007c52;
    --ref-typo-font-weight-bold: Bold;
    --ref-typo-font-weight-medium: Medium;
    --ref-typo-font-weight-regular: Regular;
    --ref-typo-font-family-pretendard: Pretendard;
    --ref-typo-font-size-0: 0rem;
    --ref-typo-font-size-1: 0.062rem;
    --ref-typo-font-size-display-1: 4rem;
    --ref-typo-font-size-display-2: 2.75rem;
    --ref-typo-font-size-display-3: 2.25rem;
    --ref-typo-font-size-heading-1: 2.5rem;
    --ref-typo-font-size-heading-2: 2rem;
    --ref-typo-font-size-heading-3: 1.5rem;
    --ref-typo-font-size-heading-4: 1.25rem;
    --ref-typo-font-size-heading-5: 1rem;
    --ref-typo-font-size-body-1: 1.25rem;
    --ref-typo-font-size-body-2: 1.125rem;
    --ref-typo-font-size-body-3: 1rem;
    --ref-typo-font-size-body-4: 0.875rem;
    --ref-typo-font-size-body-5: 0.75rem;
    --ref-typo-letter-spacing-0: 0rem;
    --ref-typo-letter-spacing-1: 0.062rem;
    --ref-radius-0: 0rem;
    --ref-radius-2: 0.125rem;
    --ref-radius-4: 0.25rem;
    --ref-radius-6: 0.375rem;
    --ref-radius-8: 0.5rem;
    --ref-radius-10: 0.625rem;
    --ref-radius-12: 0.75rem;
    --ref-radius-16: 1rem;
    --ref-radius-20: 1.25rem;
    --ref-radius-max: 62.5rem;
    --ref-number-0: 0rem;
    --ref-number-1: 0.062rem;
    --ref-number-2: 0.125rem;
    --ref-number-4: 0.25rem;
    --ref-number-6: 0.375rem;
    --ref-number-8: 0.5rem;
    --ref-number-10: 0.625rem;
    --ref-number-12: 0.75rem;
    --ref-number-14: 0.875rem;
    --ref-number-16: 1rem;
    --ref-number-18: 1.125rem;
    --ref-number-20: 1.25rem;
    --ref-number-24: 1.5rem;
    --ref-number-28: 1.75rem;
    --ref-number-32: 2rem;
    --ref-number-36: 2.25rem;
    --ref-number-40: 2.5rem;
    --ref-number-44: 2.75rem;
    --ref-number-48: 3rem;
    --ref-number-52: 3.25rem;
    --ref-number-56: 3.5rem;
    --ref-number-60: 3.75rem;
    --ref-number-64: 4rem;
    --ref-number-68: 4.25rem;
    --ref-number-72: 4.5rem;
    --ref-number-76: 4.75rem;
    --ref-number-80: 5rem;
    --ref-number-84: 5.25rem;
    --ref-number-88: 5.5rem;
    --ref-number-92: 5.75rem;
    --ref-number-96: 6rem;
    --ref-number-max: 62.5rem;
    --ref-padding-0: 0rem;
    --ref-padding-2: 0.125rem;
    --ref-padding-4: 0.25rem;
    --ref-padding-6: 0.375rem;
    --ref-padding-8: 0.5rem;
    --ref-padding-10: 0.625rem;
    --ref-padding-12: 0.75rem;
    --ref-padding-16: 1rem;
    --ref-padding-20: 1.25rem;
    --ref-padding-24: 1.5rem;
    --ref-padding-28: 1.75rem;
    --ref-padding-32: 2rem;
    --ref-gap-0: 0rem;
    --ref-gap-2: 0.125rem;
    --ref-gap-4: 0.25rem;
    --ref-gap-6: 0.375rem;
    --ref-gap-8: 0.5rem;
    --ref-gap-10: 0.625rem;
    --ref-gap-12: 0.75rem;
    --ref-gap-16: 1rem;
    --ref-gap-20: 1.25rem;
    --ref-gap-24: 1.5rem;
    --ref-gap-28: 1.75rem;
    --ref-gap-32: 2rem;
    --com-button-color-background-primary: var(--ref-color-primary-70);
    --com-button-color-background-primary-light: var(--ref-color-primary-50);
    --com-button-color-background-primary-dark: var(--ref-color-primary-80);
    --com-button-color-background-primary-lighter: var(--ref-color-primary-30);
    --com-button-color-background-primary-bright: var(--ref-color-primary-5);
    --com-button-color-background-light: var(--ref-color-cool_neutral-20);
    --com-button-color-background-lighter: var(--ref-color-cool_neutral-5);
    --com-button-color-border-basic: var(--ref-color-cool_neutral-90);
    --com-button-color-border-primary: var(--ref-color-primary-70);
    --com-button-color-border-primary-dark: var(--ref-color-primary-80);
    --com-button-color-text-bright: var(--ref-color-cool_neutral-30);
    --com-button-color-text-inverse: var(--ref-color-common-0);
    --com-button-color-text-light: var(--ref-color-cool_neutral-70);
    --com-button-color-text-lighter: var(--ref-color-cool_neutral-60);
    --com-button-color-text-basic: var(--ref-color-cool_neutral-90);
    --com-button-color-text-primary: var(--ref-color-primary-70);
    --com-button-color-text-primary-dark: var(--ref-color-primary-80);
    --com-button-radius-large: var(--ref-radius-6);
    --com-button-radius-medium: var(--ref-radius-6);
    --com-button-radius-small: var(--ref-radius-4);
    --com-button-padding-horizontal-large: var(--ref-padding-32);
    --com-button-padding-horizontal-medium: var(--ref-padding-28);
    --com-button-padding-horizontal-small: var(--ref-padding-16);
    --com-button-height-small: var(--ref-number-36);
    --com-button-height-medium: var(--ref-number-48);
    --com-button-height-large: var(--ref-number-56);
    --com-button-gap-large: var(--ref-gap-8);
    --com-button-gap-medium: var(--ref-gap-6);
    --com-button-gap-small: var(--ref-gap-4);
    --com-text_link-color-basic: var(--ref-color-cool_neutral-90);
    --com-text_link-color-lighter: var(--ref-color-cool_neutral-60);
    --com-text_link-color-primary: var(--ref-color-primary-70);
    --com-text_link-color-primary-dark: var(--ref-color-primary-80);
    --com-text_link-color-primary-lighter: var(--ref-color-primary-30);
    --com-radio_button-color-background-inverse: var(--ref-color-common-0);
    --com-radio_button-color-background-lighter: var(--ref-color-cool_neutral-40);
    --com-radio_button-color-background-primary-lighter: var(--ref-color-primary-5);
    --com-radio_button-color-background-primary: var(--ref-color-primary-70);
    --com-radio_button-color-background-light: var(--ref-color-cool_neutral-60);
    --com-radio_button-color-background-bright: var(--ref-color-cool_neutral-10);
    --com-radio_button-color-border-primary: var(--ref-color-primary-70);
    --com-radio_button-color-border-dark: var(--ref-color-cool_neutral-60);
    --com-radio_button-color-text-basic: var(--ref-color-cool_neutral-90);
    --com-radio_button-radius-max: var(--ref-radius-max);
    --com-radio_button-gap-large: var(--ref-gap-8);
    --com-radio_button-gap-medium: var(--ref-gap-6);
    --com-checkbox-color-background-light: var(--ref-color-cool_neutral-60);
    --com-checkbox-color-background-lighter: var(--ref-color-cool_neutral-40);
    --com-checkbox-color-background-inverse: var(--ref-color-common-0);
    --com-checkbox-color-background-primary: var(--ref-color-primary-70);
    --com-checkbox-color-border-basic: var(--ref-color-cool_neutral-60);
    --com-checkbox-color-text-basic: var(--ref-color-cool_neutral-90);
    --com-checkbox-color-text-inverse: var(--ref-color-common-0);
    --com-checkbox-color-text-light: var(--ref-color-cool_neutral-60);
    --com-checkbox-gap-large: var(--ref-gap-8);
    --com-checkbox-gap-medium: var(--ref-gap-6);
    --com-checkbox-radius-large: var(--ref-radius-4);
    --com-checkbox-radius-medium: var(--ref-radius-4);
    --com-color-info: var(--ref-color-blue-60);
    --com-color-error: var(--ref-color-red-70);
    --com-color-success: var(--ref-color-green-70);
    --com-color-warning: var(--ref-color-yellow-50);
    }