<!--------------------------- Basic Button --------------------------->
<h4>Large</h4>
<!-- button -->
<button type="button" class="btids-btn large primary">Button</button>
<!-- //button -->
<!-- left icon button  -->
<button type="button" class="btids-btn large primary">
    <span class="icon"><img src="../resources/img/icon/ico_add.svg" alt="arrow_go_back"></span>
    <span>Button</span>
</button>
<!-- //left icon button -->
<!-- right icon button  -->
<button type="button" class="btids-btn large primary">
    <span>Button</span>
    <span class="icon"><img src="../resources/img/icon/ico_arrow-go-back.svg" alt="arrow_go_back"></span>
</button>
<!-- //right icon button -->


<h4>Medium</h4>
<!-- button -->
<button type="button" class="btids-btn medium primary">Button</button>
<!-- //button -->
<!-- left icon button  -->
<button type="button" class="btids-btn medium primary">
    <span class="icon"><img src="../resources/img/icon/ico_add.svg" alt="arrow_go_back"></span>
    <span>Button</span>
</button>
<!-- //left icon button -->
<!-- right icon button  -->
<button type="button" class="btids-btn medium primary">
    <span>Button</span>
    <span class="icon"><img src="../resources/img/icon/ico_arrow-go-back.svg" alt="arrow_go_back"></span>
</button>
<!-- //right icon button -->


<h4>Small</h4>
<!-- button -->
<button type="button" class="btids-btn small primary">Button</button>
<!-- //button -->
<!-- left icon button  -->
<button type="button" class="btids-btn small primary">
    <span class="icon"><img src="../resources/img/icon/ico_add.svg" alt="arrow_go_back"></span>
    <span>Button</span>
</button>
<!-- //left icon button -->
<!-- right icon button  -->
<button type="button" class="btids-btn small primary">
    <span>Button</span>
    <span class="icon"><img src="../resources/img/icon/ico_arrow-go-back.svg" alt="arrow_go_back"></span>
</button>
<!-- //right icon button -->
<!--------------------------- //Basic Button --------------------------->

<!--------------------------- Outline Button --------------------------->
<h4>Large</h4>
<!-- button -->
<button type="button" class="btids-btn large outline">Button</button>
<!-- //button -->
<!-- left icon button  -->
<button type="button" class="btids-btn large outline">
    <span class="icon"><img src="../resources/img/icon/ico_add.svg" alt="arrow_go_back"></span>
    <span>Button</span>
</button>
<!-- //left icon button -->
<!-- right icon button  -->
<button type="button" class="btids-btn large outline">
    <span>Button</span>
    <span class="icon"><img src="../resources/img/icon/ico_arrow-go-back.svg" alt="arrow_go_back"></span>
</button>
<!-- //right icon button -->


<h4>Medium</h4>
<!-- button -->
<button type="button" class="btids-btn medium outline">Button</button>
<!-- //button -->
<!-- left icon button  -->
<button type="button" class="btids-btn medium outline">
    <span class="icon"><img src="../resources/img/icon/ico_add.svg" alt="arrow_go_back"></span>
    <span>Button</span>
</button>
<!-- //left icon button -->
<!-- right icon button  -->
<button type="button" class="btids-btn medium outline">
    <span>Button</span>
    <span class="icon"><img src="../resources/img/icon/ico_arrow-go-back.svg" alt="arrow_go_back"></span>
</button>
<!-- //right icon button -->


<h4>Small</h4>
<!-- button -->
<button type="button" class="btids-btn small outline">Button</button>
<!-- //button -->
<!-- left icon button  -->
<button type="button" class="btids-btn small outline">
    <span class="icon"><img src="../resources/img/icon/ico_add.svg" alt="arrow_go_back"></span>
    <span>Button</span>
</button>
<!-- //left icon button -->
<!-- right icon button  -->
<button type="button" class="btids-btn small outline">
    <span>Button</span>
    <span class="icon"><img src="../resources/img/icon/ico_arrow-go-back.svg" alt="arrow_go_back"></span>
</button>
<!-- //right icon button -->
<!--------------------------- //Outline Button --------------------------->

<!--------------------------- Button Disabled --------------------------->
<h4>Large</h4>
<!-- button -->
<button type="button" class="btids-btn large" disabled>Button</button>
<!-- //button -->
<!-- left icon button disabled -->
<button type="button" class="btids-btn large" disabled>
    <span class="icon"><img src="../resources/img/icon/ico_add.svg" alt="arrow_go_back"></span>
    <span>Button</span>
</button>
<!-- //left icon button disabled -->
<!-- right icon button disabled -->
<button type="button" class="btids-btn large" disabled>
    <span>Button</span>
    <span class="icon"><img src="../resources/img/icon/ico_arrow-go-back.svg" alt="arrow_go_back"></span>
</button>
<!-- //right icon button disabled -->
  

<h4>Medium</h4>
<!-- button -->
<button type="button" class="btids-btn medium" disabled>Button</button>
<!-- //button -->
<!-- left icon button disabled -->
<button type="button" class="btids-btn medium" disabled>
    <span class="icon"><img src="../resources/img/icon/ico_add.svg" alt="arrow_go_back"></span>
    <span>Button</span>
</button>
<!-- //left icon button disabled -->
<!-- right icon button disabled -->
<button type="button" class="btids-btn medium" disabled>
    <span>Button</span>
    <span class="icon"><img src="../resources/img/icon/ico_arrow-go-back.svg" alt="arrow_go_back"></span>
</button>
<!-- //right icon button disabled -->


<h4>Small</h4>
<!-- button -->
<button type="button" class="btids-btn small" disabled>Button</button>
<!-- //button -->
<!-- left icon button disabled -->
<button type="button" class="btids-btn small" disabled>
    <span class="icon"><img src="../resources/img/icon/ico_add.svg" alt="arrow_go_back"></span>
    <span>Button</span>
</button>
<!-- //left icon button disabled -->
<!-- right icon button disabled -->
<button type="button" class="btids-btn small" disabled>
    <span>Button</span>
    <span class="icon"><img src="../resources/img/icon/ico_arrow-go-back.svg" alt="arrow_go_back"></span>
</button>
<!-- //right icon button disabled -->
 <!--------------------------- //Button Disabled --------------------------->