<div class="fieldset">
  <div class="form-group">
      <div class="form-conts">
          <div class="btids-check-area">
              <div class="btids-form-check large">
                  <input type="checkbox" name="checkbox_11" id="checkbox_11" value="11">
                  <label for="checkbox_11">기본</label>
              </div>
              <div class="btids-form-check large">
                  <input type="checkbox" name="checkbox_22" id="checkbox_22" checked>
                  <label for="checkbox_22">선택됨</label>
              </div>
              <div class="btids-form-check large">
                  <input type="checkbox" name="checkbox_33" id="checkbox_33" disabled>
                  <label for="checkbox_33">비활성화</label>
              </div>
              <div class="btids-form-check large">
                  <input type="checkbox" name="checkbox_44" id="checkbox_44" disabled checked>
                  <label for="checkbox_44">선택된 비활성화</label>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="fieldset">
  <div class="form-group">
      <div class="form-conts">
          <div class="btids-check-area">
              <div class="btids-form-check small">
                  <input type="checkbox" name="checkbox_1" id="checkbox_1" value="1">
                  <label for="checkbox_1">기본</label>
              </div>
              <div class="btids-form-check small">
                  <input type="checkbox" name="checkbox_2" id="checkbox_2" checked>
                  <label for="checkbox_2">선택됨</label>
              </div>
              <div class="btids-form-check small">
                  <input type="checkbox" name="checkbox_3" id="checkbox_3" disabled>
                  <label for="checkbox_3">비활성화</label>
              </div>
              <div class="btids-form-check small">
                  <input type="checkbox" name="checkbox_4" id="checkbox_4" disabled checked>
                  <label for="checkbox_4">선택된 비활성화</label>
              </div>
          </div>
          <div class="btids-check-area">
              <div class="btids-form-check small">
                  <input type="checkbox" name="checkbox_5" id="checkbox_5" value="5">
                  <label for="checkbox_5">기본</label>
              </div>
              <div class="btids-form-check small">
                  <input type="checkbox" name="checkbox_6" id="checkbox_6" checked>
                  <label for="checkbox_6">선택됨</label>
              </div>
              <div class="btids-form-check small">
                  <input type="checkbox" name="checkbox_7" id="checkbox_7" disabled>
                  <label for="checkbox_7">비활성화</label>
              </div>
              <div class="btids-form-check small">
                  <input type="checkbox" name="checkbox_8" id="checkbox_8" disabled checked>
                  <label for="checkbox_8">선택된 비활성화</label>
              </div>
          </div>
      </div>
  </div>
</div>